<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Training
    </ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="user && user.UserName" slot="primary">
      <ion-icon slot="icon-only" name="person"></ion-icon>{{user.UserName}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bar-header">
  <h1 class="title">Training</h1>
</div>
<ion-item>
  <ion-label text-wrap>The vast majority of fake or misleading news can be debunked with ease. Through careful examination and critical thinking, it becomes simple to identify fake sources or stories.</ion-label>
</ion-item>
<ion-card button (click)="isSourceCardCollapsed = !isSourceCardCollapsed">
  <ion-card-header>
    <ion-card-title>Verify the source of the article</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isSourceCardCollapsed">
    <ion-item>
      <ion-label text-wrap>One common tactic among those who publish and spread fake news is to imitate a legitimate source in the hopes that readers will not notice. A notable example of this is ABC News, whose actual URL is “abcnews.go.com”. A major imitation site at “abcnews.com.co” published a large number of articles and many people fell for the hoax. These can be difficult to spot at a glance, which is why it is important to take a deeper look before taking a story at face value.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isArticleCardCollapsed = !isArticleCardCollapsed">
  <ion-card-header>
    <ion-card-title>Read the whole article</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isArticleCardCollapsed">
    <ion-item>
      <ion-label text-wrap>Some headlines may appear to be legitimate, but upon reading the article attached they turn out to be satire. They may reveal themselves by including absurd details or referencing other stories that are also false.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isAuthorCardCollapsed = !isAuthorCardCollapsed">
  <ion-card-header>
    <ion-card-title>Research the author</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isAuthorCardCollapsed">
    <ion-item>
      <ion-label text-wrap>Look into who the author of the article is. See what description the website itself gives them and look elsewhere online for more information about them. Possible signs of something being off include absurd names, unreasonable accomplishments listed, and no information about the author being available outside of the article itself.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isSourcesCitedCardCollapsed = !isSourcesCitedCardCollapsed">
  <ion-card-header>
    <ion-card-title>Check any sources cited</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isSourcesCitedCardCollapsed">
    <ion-item>
      <ion-label text-wrap>Many fake stories will include cited sources that seem real at a glance. However, upon looking into them further it becomes apparent that they are not. These sources may be a government office or law, another news site, or an individual. One easy way to check the validity of the claims is to look up the source and see if they are real or support the claim being made.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isDateArticleCardCollapsed = !isDateArticleCardCollapsed">
  <ion-card-header>
    <ion-card-title>Check the date of the article</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isDateArticleCardCollapsed">
    <ion-item>
      <ion-label text-wrap>It is a common tactic to post a legitimate article that is several months out of date if the issue discusses becomes relevant again. This is done to mislead readers and cause them to think an event occurred due to different causes or in a different context. As a result, it is important to check the date of the article being shared and see how recent it is.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isGrammarCardCollapsed = !isGrammarCardCollapsed">
  <ion-card-header>
    <ion-card-title>Look for grammatical mistakes</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isGrammarCardCollapsed">
    <ion-item>
      <ion-label text-wrap>A high number of grammatical errors could mean that the source lacks an editor, something that the vast majority of credible news sources have. It could also mean that the article is part of a disinformation campaign by somebody who does not primarily speak English. These campaigns have been growing in popularity among those who are attempting to spread feelings of division and distrust around elections.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card button (click)="isOurSourcesCardCollapsed = !isOurSourcesCardCollapsed">
  <ion-card-header>
    <ion-card-title>Further resources</ion-card-title>
  </ion-card-header>
  <ion-card-content [hidden]="!isOurSourcesCardCollapsed">
    <ion-item>
      <a class="" href="#" (click)="OpenBrowser('https://www.factcheck.org/2016/11/how-to-spot-fake-news/')">Fact Check</a>
    </ion-item>
    <ion-item>
      <a class="" href="#" (click)="OpenBrowser('https://www.freedomforuminstitute.org/first-amendment-center/primers/fake-news-primer/')">Fake news primer</a>
    </ion-item>
    <ion-item>
      <a class="" href="#" (click)="OpenBrowser('https://guides.library.cornell.edu/evaluate_news/infographic')">Evaluate news</a>
    </ion-item>
    <ion-item>
      <a class="" href="#" (click)="OpenBrowser('https://www.lib.sfu.ca/help/research-assistance/fake-news')">Fake News Research Assistance</a>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
<!-- <ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="primary">Uh Oh</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-label><p>
        Sorry Username, it looks like your answer to the Daily Quiz was incorrect.
      </p>
      <p> Your Answer:</p>
    <p>
      Correct Answer: 
    </p></ion-label>
    <ion-button color="secondary">Additional Resources</ion-button>
  </ion-card-content>
</ion-card> -->
