<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News Feed
    </ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="user && user.UserName">
      <ion-icon slot="icon-only" name="person"></ion-icon>{{user.UserName}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="ion-padding-top ion-padding-bottom"><p>Use the swipe function to determine if the news headline is real or fake!</p></ion-label>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let newsfeed of newsList" [style.position]="'absolute'">
          <ion-card-header>
            <ion-card-title>Category: {{newsfeed.Category}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label><h2>{{newsfeed.NewsHeadline}}</h2></ion-label>
          </ion-card-content>
          <br>
          <br>
          <br>
          <ion-card-content class ="ion_card_content">
            <ion-button (click)="Guess(newsfeed, false)" color="danger">Fake</ion-button>
            &nbsp;
            &nbsp;
            &nbsp;
            <ion-button (click)="Guess(newsfeed, true)" color="primary">Real</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  
</ion-content>
