<ion-app>
<ion-split-pane contentId="main">

<ion-menu side="start" menuId="first" contentId="main" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title><ion-item color="primary" [routerLink]="['/home']">Home</ion-item></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/setting']">Settings</ion-item></ion-menu-toggle> THIS IS NOT USED FOR NOW -->
      <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/account']">Account</ion-item></ion-menu-toggle>
      <!-- <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/friends']">Friends</ion-item></ion-menu-toggle> THIS IS PROBABLY MERGING INTO ACCOUNT-->
      <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/dailyquiz']">Daily Quiz</ion-item></ion-menu-toggle>
      <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/newsfeed']">News Feed</ion-item></ion-menu-toggle>
      <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/training']">Training</ion-item></ion-menu-toggle>
      <ion-menu-toggle auto-hide="false"><ion-item [routerLink]="['/login']">Login</ion-item></ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
