<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Register user
    </ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="firstName" name="firstName" [(ngModel)]="firstName" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="lastName" name="lastName" [(ngModel)]="lastName" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="userName" name="userName" [(ngModel)]="userName" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp()" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>