<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      SpoofSpotter
    </ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-button color="secondary" class="ion-margin-bottom ion-margin-top" expand="block">Daily Quiz</ion-button>
<ion-button color="secondary" class="ion-margin-bottom" expand="block">News Feed</ion-button>
<ion-button color="secondary" class="ion-margin-bottom" expand="block">Training</ion-button>

</ion-content>
